<html>
	<head></head>
	<body>
		<form>
			<input type='text' name='guess' />
			<input type='submit' value='Guess!' />
		</form>
		<h1>Try to guess the secret number!</h1>
		<p>
			<%= message %>
		</p>
	</body>
</html>